<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.devstories.nomadnote.android"
  xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
   <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
   <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
   <uses-permission android:name="android.permission.VIBRATE" />
   <uses-permission android:name="com.android.vending.BILLING" />
   <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
      tools:replace="android:allowBackup"
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:requestLegacyExternalStorage="true"
      android:usesCleartextTraffic="true"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTop"
        android:windowSoftInputMode="adjustPan">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
        </intent-filter>
      </activity>


        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
          <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:host="oauth" android:scheme="kakao30c846cc5fc8a6f301a8fc0cc2e9e7f3"/>
          </intent-filter>
        </activity>
      
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <meta-data
            tools:replace="android:value"
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5097070292431028~5074159055"/>
      <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyAvs-J-QHV-Ni6sQHAAYzaoSFDlMdq55Fs"/>
      <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="30c846cc5fc8a6f301a8fc0cc2e9e7f3" />
        <meta-data 
        android:name="com.facebook.sdk.ApplicationId" 
        android:value="@string/facebook_app_id"/>

        <meta-data  
        android:name="com.dieam.reactnativepushnotification.notification_foreground"
        android:value="false"/>
        <meta-data  
        android:name="com.dieam.reactnativepushnotification.notification_color"
        android:resource="@color/colorPush"/>
            <meta-data   
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/logo"/>
            <meta-data 
            android:name="com.applozic.mobicomkit.notification.smallIcon" 
            android:resource="@mipmap/logo" />
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationActions" />
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" />
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
